@font-face {
  font-family: "Geist";
  src: url("./public/fonts/Geist/webfonts/Geist-Regular.woff2");
}

@font-face {
  font-family: "Geist-SemiBold";
  src: url("./public/fonts/Geist/webfonts/Geist-SemiBold.woff2");
}

@font-face {
  font-family: "Instrument Serif";
  src: url("./public/fonts/Instrument Serif/InstrumentSerif-Regular.woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background-color: var(--green);
  color: black;
}

:root {
  --darkest-black: #121212;
  --darker-gray: #131417;
  --green: #c6fbbb;
  --gray: #979797;
  --dark-gray: #606060;
  --light-gray: #b2b2b2;
  --white: #faf9f6;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 600px;
  font-family: "Geist", sans-serif;
  color: var(--white);
  background-color: var(--darkest-black);
}

button {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

code {
  padding: 0.25rem 0.4rem;
  border-radius: 8px;
  background-color: var(--darker-gray);
  color: var(--green);
  font-size: 0.75rem;
  line-height: 1.75;
}

pre {
  box-sizing: content-box;
  padding: 0.25rem;
  background-color: var(--darker-gray);
  border-radius: 6px;
}

/* --- NAV --- */

header {
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-logo {
  width: 36px;
  height: 36px;
  background-image: url("public/images/logo.webp");
  background-size: cover;
  border-radius: 50%;
}

.hamburger-menu {
  padding: 0.4rem;
  width: 36px;
  height: 36px;
  background-color: var(--green);
  border: none;
  border-radius: 50%;
}

/* --- MAIN --- */

main {
  padding: 0.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  flex: 1;
}

h1,
section h1 {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2rem;
}

:where(h1) {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2rem;
}

.italicized {
  font-family: "Instrument Serif", serif;
  font-size: 1.75rem;
}

.year {
  margin-bottom: 1.25rem;
}

.articles-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.article-title,
.article-date {
  color: var(--gray);
  transition: color 0.3s ease-in-out;
}

.articles-list li a {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}

.articles-list li a:hover .article-title,
.articles-list li a:hover .article-date {
  color: var(--white);
}

.container-articles p {
  font-size: 0.875rem;
}

.year {
  color: var(--green);
  font-family: "Geist-SemiBold", sans-serif;
}

.article-title {
  width: 75%;
}

hr {
  margin-top: 1.75rem;
  border: none;
  height: 1px;
  background-color: #535353;
}

.container-input {
  margin-top: 1rem;
  padding-right: 0.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--darker-gray);
  border-radius: 2rem;
}

.email-input {
  padding: 0 1rem;
  width: 100%;
  height: 48px;
  background-color: transparent;
  font-family: "Geist", sans-serif;
  font-size: 0.875rem;
  color: var(--gray);
  border: none;
  outline: none;
}

.submit-email-button {
  padding: 0.85rem;
  width: 48px;
  height: 48px;
  background-color: transparent;
  border: none;
}

.submit-email-button svg {
  stroke: var(--gray);
}

/* --- FOOTER --- */

footer {
  padding: 0.5rem 1.5rem 1.5rem 1.5rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.container-social-media {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;
  column-gap: 3rem;
  justify-content: center;
  align-items: center;
}

.container-social-media svg {
  fill: var(--dark-gray);
  min-height: 24px;
  min-width: 24px;
  transition: fill 0.3s ease-in-out;
}

.container-social-media svg:hover {
  fill: var(--white);
}

.made-by {
  color: var(--gray);
  font-size: 0.875rem;
}

.author {
  color: var(--gray);
  text-decoration: underline;
  transition: color 0.3s ease;
}

.author:hover {
  color: var(--white);
}

/* --- menu.html --- */

.menu-main {
  gap: 1.5rem;
}

.menu-subcontainer {
  padding: 1rem;
  background-color: var(--darker-gray);
  border-radius: 0.75rem;
}

.menu-subcontainer ul {
  display: flex;
  flex-direction: column;
  row-gap: 0.75rem;
}

.menu-subcontainer ul a {
  color: var(--white);
}

.menu-subcontainer ul a li {
  font-size: 1.6rem;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.menu-subcontainer ul a li:hover {
  transform: translateX(8px);
}

/* --- individual article --- */

article {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

article p {
  font-size: 0.875rem;
  color: var(--light-gray);
  line-height: 1.5rem;
}

.container-title {
  margin-bottom: 1.5rem;
}

.container-title .article-title {
  margin-bottom: 0.5rem;
  font-size: 2.75rem;
  font-family: "Instrument Serif", serif;
  color: var(--white);
  width: 100%;
  line-height: 3rem;
}

.container-title .article-date {
  color: var(--green);
  font-family: "Geist-SemiBold", sans-serif;
}

article p a {
  color: var(--green);
  text-decoration-line: underline;
  transition: color 0.3s ease;
}

article p a:hover {
  color: #a3f992;
}
