.notFound {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0.15rem 0 0.75rem;
  line-height: 1.2;
  font-weight: var(--weight-semi-bold);
}

.date {
  font-family: 'JetBrains Mono';
  font-size: 0.875rem;
}

.containerArticleContent {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  color: var(--color-light-gray);
}

.containerArticleContent a {
  color: var(--color-accent);

  transition: opacity 0.3s ease;
}

.containerArticleContent a:hover {
  opacity: 0.8;
}
