/* == VARIABLES == */
:root {
  --color-primary: #2360e0;
  --color-bg: oklch(0.995 0 0);
  --color-fg: oklch(0.175 0 0);
  --color-gray-900: oklch(0.2 0 0);
  --color-gray-850: oklch(0.25 0 0);
  --color-gray-800: oklch(0.3 0 0);
  --color-gray-750: oklch(0.35 0 0);
  --color-gray-700: oklch(0.4 0 0);
  --color-gray-650: oklch(0.45 0 0);
  --color-gray-600: oklch(0.5 0 0);
  --color-gray-550: oklch(0.55 0 0);
  --color-gray-500: oklch(0.6 0 0);
  --color-gray-450: oklch(0.65 0 0);
  --color-gray-400: oklch(0.7 0 0);
  --color-gray-350: oklch(0.75 0 0);
  --color-gray-300: oklch(0.8 0 0);
  --color-gray-250: oklch(0.85 0 0);
  --color-gray-200: oklch(0.9 0 0);
  --color-gray-150: oklch(0.95 0 0);
  --color-gray-100: oklch(0.975 0 0);

  --font-4xl: 4rem;
  --font-3xl: 3rem;
  --font-2xl: 2rem;
  --font-xl: 1.5rem;
  --font-lg: 1.25rem;
  --font-md: 1rem;
  --font-sm: 0.875rem;
  --font-xs: 0.75rem;
  --font-2xs: 0.625rem;
  --font-3xs: 0.5rem;

  --weight-x-bold: 800;
  --weight-bold: 700;
  --weight-semibold: 600;
  --weight-medium: 500;
  --weight-regular: 400;
  --weight-light: 300;
  --weight-x-light: 200;

  --breakpoint-mobile: 20rem;
  --breakpoint-tablet: 34.375rem;
  --breakpoint-laptop: 68.75rem;
  --breakpoint-desktop: 93.75rem;

  --space-5xl: 4rem;
  --space-4xl: 3.5rem;
  --space-3xl: 3rem;
  --space-2xl: 2.5rem;
  --space-xl: 2rem;
  --space-lg: 1.5rem;
  --space-md: 1rem;
  --space-sm: 0.75rem;
  --space-xs: 0.5rem;
  --space-2xs: 0.25rem;

  --radius-full: 50%;
  --radius-3xl: 2rem;
  --radius-2xl: 1.75rem;
  --radius-xl: 1.5rem;
  --radius-lg: 1.25rem;
  --radius-md: 1rem;
  --radius-sm: 0.75rem;
  --radius-xs: 0.5rem;
  --radius-2xs: 0.25rem;
}
:root.dark {
  --color-primary: oklch(0.7382 0.1334 264.11);
  --color-bg: oklch(0.175 0 0);
  --color-fg: oklch(0.995 0 0);
}

/* == FONTS == */
@font-face {
  font-family: "Atkinson";
  src: url("/fonts/atkinson-variable.woff2") format("woff2");
  font-weight: var(--weight-regular);
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "JetBrains";
  src: url("/fonts/jetbrains-variable.woff2") format("woff2");
  font-weight: var(--weight-regular);
  font-style: normal;
  font-display: swap;
}

/* == BASE STRUCTURE == */
body {
  font-family: "Atkinson", sans-serif;
  background: var(--color-bg);
  color: var(--color-fg);
  display: flex;
  flex-direction: column;
  height: 100dvh;
}
main {
  padding: var(--space-lg);
  flex: 1;
  align-self: center;
  width: 100%;
  max-width: 56rem;
}

/* == CSS RESET == */
*,
*::before,
*::after {
  box-sizing: border-box;
}
*:not(dialog) {
  margin: 0;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
#root,
#__next {
  isolation: isolate;
}

/* == SCROLLBAR == */

::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px 10px var(--color-bg);
  border: solid 8px transparent;
}
::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 10px 10px var(--color-gray-500);
  border: solid 8px transparent;
  border-radius: var(--radius-lg);
}

/* == SELECTION == */
::selection {
  background: var(--color-gray-150);
}
.prose pre code *::selection {
  background: var(--color-gray-700);
}
:root.dark ::selection {
  background: var(--color-gray-800);
}

/* == OTHERS == */
html {
  scrollbar-gutter: stable; /* prevents layout shift */
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
h1 {
  font-size: var(--font-2xl);
  font-weight: var(--weight-bold);
}
h2 {
  font-size: var(--font-md);
  font-weight: var(--weight-bold);
}
