.heading {
  margin-bottom: 0.75rem;
}

.subheading {
  margin-bottom: 3rem;
  max-width: 500px;
}

.sectionArticles {
  margin: 3rem 0;
}

.sectionArticles > .year {
  font-size: 1rem;
}

.containerArticleLinks {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.containerArticleLink {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: var(--gray);
  text-decoration: none;

  transition: color 0.3s ease;
}

.containerArticleLink:hover {
  color: var(--accent);
}

.containerArticleLink > .title {
  max-width: 80%;
}

.containerArticleLink > .date {
  font-family: 'JetBrains Mono';
  font-size: 0.875rem;
  align-self: baseline;
}
