@font-face {
  font-family: 'Atkinson Hyperlegible Next Regular';
  src: url('../assets/fonts/AtkinsonHyperlegibleNext-Regular.ttf');
}

@font-face {
  font-family: 'Atkinson Hyperlegible Next Bold';
  src: url('../assets/fonts/AtkinsonHyperlegibleNext-Bold.ttf');
}

@font-face {
  font-family: 'Atkinson Hyperlegible Mono Regular';
  src: url('../assets/fonts/AtkinsonHyperlegibleMono-Regular.ttf');
}

@font-face {
  font-family: 'Atkinson Hyperlegible Mono Bold';
  src: url('../assets/fonts/AtkinsonHyperlegibleMono-Bold.ttf');
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('../assets/fonts/JetBrainsMono-Regular.ttf');
}

:root {
  --bg: #121212;
  --bg-alt: #1e1e1e;
  --fg: #faf9f6;
  --accent: #c6fbbb;
  --gray: #979797;
  --dark-gray: #606060;
  --light-gray: #b2b2b2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
  font-family: 'Atkinson Hyperlegible Next Regular';
}

body {
  background: var(--bg);
  color: var(--fg);
}

::selection {
  background-color: var(--accent);
  color: var(--bg);
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  margin: 0 auto;
  padding: 1.5rem;
  width: 100%;
  max-width: 800px;
  flex: 1;
}

code {
  margin: 0 0.5rem;
  padding: 0.15em 0.5em;
  border-radius: 6px;
  background-color: var(--bg-alt);
  color: var(--accent);
  font-family: 'JetBrains Mono';
  font-size: 0.75rem;
  line-height: 1.75;
}

pre {
  box-sizing: content-box;
  padding: 0.25rem;

  background-color: var(--bg-alt);
  color: var(--fg);
  border-radius: 6px;
  font-family: 'JetBrains Mono';
  font-size: 0.825rem;
}

ol {
  margin-left: 1.5rem;
}
