/* == CSS RESET == */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

/* == FONTS == */

@font-face {
  font-family: 'Atkinson Hyperlegible Next Regular';
  src: url('../assets/fonts/AtkinsonHyperlegibleNext-Regular.ttf');
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('../assets/fonts/JetBrainsMono-Regular.ttf');
}

@font-face {
  font-family: 'Fira Code';
  src: url('../assets/fonts/FiraCode-Regular.ttf');
}

/* == COLORS == */

:root {
  --bg: oklch(0.1822 0 0);
  --bg-alt: oklch(0.235 0 0);
  --fg: oklch(0.982 0.0041 91.45);
  --accent: oklch(0.9356 0.1006 140.23);
  --gray: oklch(0.6764 0 0);
  --dark-gray: oklch(0.4891 0 0);
  --light-gray: oklch(0.7636 0 0);
}

/* == SCROLLBAR == */

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px 10px var(--bg);
  border: solid 8px transparent;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 10px 10px var(--dark-gray);
  border: solid 8px transparent;
  border-radius: 20px;
}

::selection {
  background-color: var(--accent);
  color: var(--bg);
}

* {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: 'Atkinson Hyperlegible Next Regular';
  font-display: swap;
}

body {
  background: var(--bg);
  color: var(--fg);
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  margin: 0 auto;
  padding: 1.5rem;
  width: 100%;
  max-width: 800px;
  flex: 1;
}

ol {
  margin-left: 1.5rem;
}

blockquote {
  padding-left: 1rem;
  font-style: italic;
  border-left: 4px solid var(--dark-gray);
}

pre {
  box-sizing: content-box;
  padding: 16px;

  background-color: var(--bg-alt);
  color: var(--fg);
  border-radius: 6px;
  font-family: 'JetBrains Mono';
  font-size: 0.825rem;
  overflow-x: auto;
}

code {
  padding: 0.15em 0.5em;
  border-radius: 6px;
  background-color: var(--bg-alt);
  color: var(--accent);
  font-family: 'JetBrains Mono';
  font-size: 0.75rem;
  line-height: 1.75;
}

code, pre, code * {
  font-family: 'Fira Code', monospace;
  font-size: 0.875rem;
  color: var(--fg);
}

p > code {
  color: var(--accent);
}
