.headerApp > nav {
  margin: 0 auto;
  padding: 1.5rem;
  max-width: 800px;
}

.headerApp > nav img {
  max-width: 36px;
  border-radius: 50%;

  transition: opacity 0.3s ease;
}

.headerApp > nav img:hover {
  opacity: 0.8;
}
