.headerApp > nav {
  margin: 0 auto;
  padding: 1.5rem 1.5rem 0;
  max-width: 800px;
}

.logo {
  width: 36px;
  height: 36px;
  background: var(--color-accent);
  border-radius: 50%;
  transition: opacity 0.3s ease;
}

.logo:hover {
  opacity: 0.8;
}
