---
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import { getCollection } from 'astro:content';
import BaseHead from '../components/base-head.astro';
import Footer from '../components/footer.astro';
import Header from '../components/header.astro';
import Description from "../components/description.astro"
import PostsList from "../components/posts-list.astro"

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

function getPostsByYear(year: number) {
  return posts.filter((post) => post.data.pubDate.getFullYear() === year)
}
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
      <Description />
      <PostsList posts={getPostsByYear(2026)} year={2026}/>
      <PostsList posts={getPostsByYear(2025)} year={2025}/>
		</main>
		<Footer />
	</body>
</html>
