---
---
<div class="description">
  <h1>Blog</h1>
  <p>
    Since August 2025, I have been self-studying web development. Below, you can see 
    my learnings throughout my journey.
  </p>
</div>
<style>
  .description {
    margin-bottom: 3rem;
  }
  .description > p {
    margin-top: 1rem;
    max-width: 30rem;
  }
</style>
