---
---

<footer>
  Made by   
  <a href="" class="author" target="_blank" rel="noopener noreferrer">
    @arvingarciabtw
  </a>
</footer>
<style>
	footer {
		padding: var(--space-lg);
    margin: auto;
		text-align: center;
    max-width: 56rem;
	}
  footer .author {
    color: var(--clr-fg);
    text-decoration: underline;
  }
  footer .author:hover {
    text-decoration: none;
  }
</style>
