---
import ThemeIcon from "./theme-icon.astro"
---

<header>
	<nav>
    <a href="/">
      <img src="/images/circle-blue.svg" alt="Blog logo" width="32" height="32" class="logo">
    </a>
    <ThemeIcon />
	</nav>
</header>
<style>
	nav {
    padding: var(--space-lg);
    margin: auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
    max-width: 896px;
	}
	nav a {
    color: var(--color-bg);
		text-decoration: none;
    display: grid;
    place-items: center;
    border-radius: var(--radius-full);
	}
</style>
