---
const { posts, year } = Astro.props;
---

<div class="posts-list-container">
  <h2>{year}</h2>
  <ul class="posts-list">
    {posts.map((post: { id: string, data: { title: string, description: string, pubDate: Date } }) => (
    <li class="post">            
      <a href={`/${post.id}`} class="link">
        <p class="title">{post.data.title}</p>
        <p class="date">{post.data.pubDate.toString().slice(4, 10).toUpperCase()}</p>
      </a>
    </li>
    ))}
  </ul>
</div>

<style>
  .posts-list-container {
    margin-bottom: var(--space-3xl);
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
  }
  .posts-list {
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
  }
  .posts-list > .post .link {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    gap: var(--space-md);
    text-decoration: none;
    color: var(--color-gray-600);
    transition: color 0.3s ease;
  }
  :root.dark .posts-list > .post .link {
    color: var(--color-gray-350);
  }
  .posts-list > .post .link:hover {
    color: var(--color-primary);
  }
  :root.dark .posts-list > .post .link:hover {
    color: var(--color-primary);
  }
  .posts-list > .post .title {
    max-width: 14rem; 
  }
  .posts-list > .post .date {
    font-family: "JetBrains", monospace;
    font-size: var(--font-sm);
  }
  @media (min-width: 500px) {
    .posts-list > .post .link {
      align-items: center;
    }
    .posts-list > .post .title {
      max-width: 100%;
    }
  }
</style>
