---
const { posts, year, categories = [] } = Astro.props;
---

<div class="posts-list-container">
  <div class="top">
    <h2 class="year">{year}</h2>
    <div class="categories">
    {categories.map((category: string, index: number) => (
      <>
        <p class="category">{category}</p>
        {index < categories.length - 1 && <p class="spacer">•</p>}
      </>
    ))}
    </div>
  </div>
  <ul class="posts-list">
    {posts.map((post: { id: string, data: { title: string, description: string, pubDate: Date } }) => (
    <li class="post">            
      <a href={`/${post.id}`} class="link">
        <p class="title">{post.data.title}.</p>
        <div class="separator"></div>
        <p class="date">{post.data.pubDate.toString().slice(4, 10).toUpperCase()}</p>
      </a>
    </li>
    ))}
  </ul>
</div>

<style>
  .posts-list-container {
    padding: var(--space-3xl) var(--space-3xl) var(--space-2xl);
    display: flex;
    flex-direction: column;
    gap: var(--space-md);

    .top {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .year {
      font-family: "departure-mono", monospace;
      font-size: var(--font-sm);
      font-weight: normal;
    }

    .categories {
      display: flex;
      gap: var(--space-md);

      .category {
        font-family: "departure-mono", monospace;
        font-size: var(--font-sm);
        font-weight: normal;
        text-transform: uppercase;
      }

      .spacer {
        font-family: "departure-mono", monospace;
        font-size: var(--font-sm);
        font-weight: normal;
      }
    }
  }
  .posts-list {
    margin-top: var(--space-4xl);
    column-count: 2;
    column-gap: var(--space-3xl);

    .post {
      break-inside: avoid; 
      display: inline-block;
      width: 100%;
      margin-bottom: var(--space-md);

      .link {
        display: flex;
        align-items: baseline;
        gap: var(--space-sm);

        text-decoration: none;
        color: var(--color-gray-600);
        transition: color 0.3s ease;
      }

      .title {
        font-family: "gambetta", serif;
        font-size: var(--font-sm);
        font-weight: var(--weight-medium);
        color: var(--color-fg);
      }

      .separator {
        margin-bottom: 6px;
        align-self: end;
        height: 100%;
        border-bottom: 1px dotted var(--color-gray-600);
        flex: 1;
      }
      html.dark .date {
        border-color: var(--color-gray-200);
      }

      .date {
        font-family: "departure-mono", monospace;
        font-size: var(--font-xs);
        color: var(--color-gray-700);
      }
      html.dark .date {
        color: var(--color-gray-200);
      }
    }

    .post:hover .title {
      color: var(--color-primary);
      text-decoration: underline;
    }
    .post:hover .separator {
      border-color: var(--color-primary);
    }
    .post:hover .date {
      color: var(--color-primary);
    }
  }

  @media (max-width: 1000px) {
    .posts-list {
      column-count: 1;
    }
  }

  @media (max-width: 500px) {
    .posts-list-container {
      padding: var(--space-lg) var(--space-lg) var(--space-sm);

      .top {
        gap: var(--space-md);

        .year,
        .category {
          font-size: var(--font-sm);
        }

        .categories {
          gap: var(--space-xs);
          align-items: end;

          .category {
            font-size: var(--font-xs);
          }
        }
      }

      .posts-list {
        margin-top: var(--space-xl);
        .post {
          .link {
            display: grid;
            grid-template-columns: 1fr 50px;
            align-items: start;
            gap: var(--space-xl);
          }
          .title {
            max-width: 100%;
          }
          .separator {
            display: none;
          }
        }
      }
    }
  }
</style>
