---
import { SunIcon, MoonIcon } from "astro-feather"
---
<button id="themeToggle" aria-label="Toggle theme">
  <span class="sun">
    <SunIcon />
  </span>
  <span class="moon">
    <MoonIcon />
  </span>
</button>
<script is:inline>
  const theme = (() => {
    const localStorageTheme = localStorage?.getItem("theme") ?? '';
    if (['dark', 'light'].includes(localStorageTheme)) {
      return localStorageTheme;
    }
    if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
      return 'dark';
    }
    return 'light';
  })();

  if (theme === 'light') {
    document.documentElement.classList.remove('dark');
  } else {
    document.documentElement.classList.add('dark');
  }

  window.localStorage.setItem('theme', theme);

  const handleToggleClick = () => {
    const root = document.documentElement;
    root.classList.toggle("dark");

    const isDark = root.classList.contains("dark");
    localStorage.setItem("theme", isDark ? "dark" : "light");
  }

  document.getElementById("themeToggle")?.addEventListener("click", handleToggleClick);
</script>
<style>
  #themeToggle {
    padding: var(--space-xs);
    border: 0;
    border-radius: var(--radius-full);
    aspect-ratio: 1 / 1;
    background: none;
    cursor: pointer;
    transition: background 0.3s ease;
  } 
  #themeToggle:hover {
    background: var(--color-gray-150);
  }
  :root.dark #themeToggle:hover {
    background: var(--color-gray-850);
  }
  .sun { 
    display: block;
  } 
  .moon { 
    display: none;
  } 
  :root.dark .sun { 
    display: none;
  } 
  :root.dark .moon { 
    display: block;
  } 
  .sun :global(svg) { 
    stroke: var(--color-gray-600);
  } 
  .moon :global(svg) { 
    stroke: var(--color-gray-400);
  }
</style>
