---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/base-head.astro';
import Footer from '../components/footer.astro';
import Header from '../components/header.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
		<style>
			.date {
        margin: var(--space-md) 0 var(--space-3xl);
        font-family: "JetBrains", monospace;
        font-size: var(--font-sm);
			}
      article .prose {
        padding-bottom: var(--space-3xl);
        display: flex;
        flex-direction: column;
        gap: var(--space-md);
        color: var(--color-gray-600);
      }
      :root.dark article .prose {
        color: var(--color-gray-350);
      }
      article .prose :global(a) {
        color: var(--color-primary);
      }
      article .prose :global(h2) {
        font-size: var(--font-xl);
      }
      article .prose :global(a):hover {
        text-decoration: none;
      }
      article .prose :global(blockquote) {
        color: var(--color-gray-600);
        padding-left: var(--space-md);
        border-left: 4px solid var(--color-gray-600);
        font-style: italic;
      }
      :root.dark article .prose :global(blockquote) {
        color: var(--color-gray-500);
        padding-left: var(--space-md);
        border-left: 4px solid var(--color-gray-600);
        font-style: italic;
      }
      article .prose :global(code) {
        padding: 1px 6px;
        font-family: "JetBrains", monospace;
        font-size: var(--font-sm);
        background: var(--color-gray-150);
        color: var(--color-primary);
        border-radius: 6px;
      }
      :root.dark article .prose :global(code) {
        background: var(--color-gray-850);
      }
      article .prose :global(pre) {
        padding: var(--space-md);
        font-family: "JetBrains", monospace;
        font-size: var(--font-sm);
        background: oklch(0.25 0 0) !important;
        border-radius: 6px;
      }
      article .prose :global(pre) > :global(code) {
        padding: 0;
        background: oklch(0.25 0 0);
      }
		</style>
	</head>
	<body>
		<Header />
		<main>
			<article>
        <h1>{title}</h1>
        <p class="date">{pubDate.toString().slice(4, 10).toUpperCase()}</p>
        <div class="prose">
          <slot />
        </div>
			</article>
		</main>
		<Footer />
	</body>
</html>
