---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/base-head.astro';
import Footer from '../components/footer.astro';
import Header from '../components/header.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
		<style>
			.date {
        margin: 1rem 0 3rem;
        font-family: "JetBrains", monospace;
        font-size: 0.875rem;
			}
      article .prose {
        padding-bottom: 3rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        color: var(--clr-gray);
      }
      article .prose :global(a) {
        color: var(--clr-primary);
      }
      article .prose :global(h2) {
        font-size: 1.5rem;
      }
      article .prose :global(a):hover {
        text-decoration: none;
      }
      article .prose :global(blockquote) {
        color: var(--clr-gray);
        padding-left: 1rem;
        border-left: 4px solid var(--clr-gray-alt);
        font-style: italic;
      }
      article .prose :global(code) {
        padding: 1px 6px;
        font-family: "JetBrains", monospace;
        font-size: 0.875rem;
        background: var(--clr-bg-alt);
        color: var(--clr-primary);
        border-radius: 6px;
      }
      article .prose :global(pre) {
        padding: 1rem;
        font-family: "JetBrains", monospace;
        font-size: 0.875rem;
        background: oklch(0.25 0 0) !important;
        border-radius: 6px;
      }
      article .prose :global(pre) > :global(code) {
        padding: 0;
        background: oklch(0.25 0 0);
      }
		</style>
	</head>
	<body>
		<Header />
		<main>
			<article>
        <h1>{title}</h1>
        <p class="date">{pubDate.toString().slice(4, 10).toUpperCase()}</p>
        <div class="prose">
          <slot />
        </div>
			</article>
		</main>
		<Footer />
	</body>
</html>
